#Main-Section {
    height: 92dvh;
    width: 100dvw;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.2rem;
}

#All-Charts-Container {
    height: 85%;
    width: 90%;

    border-radius: 0.25rem;
    background: #e292fe;
    
    display: grid;
    align-items: center;
    justify-content: center;
    /* grid-template-areas: "topbar topbar" "bottombar bottombar"; */
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;

    grid-gap: 1rem;
}

.Chart-Container {
    height: 95%;
    width: 95%;

    background: #FFFFF0;
    border-radius: 0.25rem;

    padding-top: 1rem;
    padding-right: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Chart-Container > h3 {
    font-size: 5rem;
    display: block;
    font-weight: bold;
}

.Chart-Container:nth-child(1)  {
    margin-top: 1rem;
    margin-left: 2rem;
}

.Chart-Container:nth-child(2)  {
    margin-top: 1rem;
    margin-right: 1rem;
}

.Chart-Container:nth-child(3)  {
    margin-bottom: 1rem;
    margin-left: 2rem;
}

.Chart-Container:nth-child(4)  {
    margin-bottom: 1rem;
    margin-right: 1rem;
}

