#Navbar {
    width: 100dvw;
    height: 4.5rem;

    padding-left: 1rem;
    padding-right: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #e292fe;
}
